.btn {
    background-color: darken($color-primary, 10);
    color: #FFF;
    height: 40px;
    font-size: 1em;
    padding: 0 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px #C9C9C9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity .2s ease-in-out;
    text-decoration: none;

    &:hover {
        transition: opacity .4s ease-in-out;
        opacity: .8;
    }
}

select {
    width: 100%;
    height: 48px;
    font-size: 1em;
}

input {
	width: 100%;
	height: 48px;
	background: #FFF;
	border: 1px solid #FFF;
	border-radius: 8px;
	padding: 15px;
	color: #000;
	font-family: Roboto;
	transition: .1s;
	cursor: initial;
	font-size: 15px;
    margin: 10px;
}

input:hover {
	box-shadow: 0 0 0 2px #0060DF;
}