.btn {
    background-color: $color-primary;
    color: #FFF;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px #C9C9C9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity .2s ease-in-out;

    &:hover {
        transition: opacity .4s ease-in-out;
        opacity: .8;
    }
}