footer {
    background-color: rgb(27, 27, 27);
    color: #FFF;
    
    div {
        margin-left: 20px;
        display: flex;
        flex-direction: column;

        @media screen AND (min-width: 1400px) {
            margin-left: 130px;
        }

        h2 {
            margin-top: 20px;
            font-size: 1.3em;
        }

        ul {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            margin-bottom: 20px;

            li {
                margin-top: 5px;

                a {
                    color: rgb(206, 206, 206);
                    text-decoration: none;

                    &:hover {
                        color: #FFF;
                    }

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}