@import "../main.scss";

main {
    max-width: 1200px;
    margin: 0 auto;

    #cart {
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 10px;
        margin-top: 40px;

        @media screen AND (min-width: 1200px) {
            margin: 0;
            margin-top: 40px;
        }


        h2 {
            font-size: 1.3em;
            font-weight: 700;
            margin-left: 20px;
            margin-top: 20px;
            flex-basis: 100%;
        }

        // Total price
        > span {
            font-size: 1.2em;
            font-weight: 700;
            flex-basis: 100%;
            margin-top: 40px;
            margin-bottom: 20px;
            margin-right: 20px;
            text-align: right;
        }

        .btn {
            margin: 0 20px;
            margin-bottom: 40px;
        }

        > div {
            display: flex;
            flex-direction: column;
        }
        
        article {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 10px 10px;

            h3 {
                font-size: 1.2em;
                font-weight: 600;
            }

            p {
                color: rgb(158, 157, 157);
            }

            figure {
                flex: 1 0 auto;
                width: 120px;
                height: 120px;
                overflow: hidden;
                border: 3px solid #FFF;
                border-radius: 5px;
                margin-right: 15px;
                margin-left: 15px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            span {
                font-weight: 500;
            }
        }
    }
}