@import "../main.scss";

main {
    max-width: 1200px;
    margin: 0 auto;

    #call-to-action {
        background-color: #f7f7f7;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid #e6e1e1;
        box-shadow: -50px 0px 50px -7px #C9C9C9, 50px 0px 50px -7px #C9C9C9;

        h2 {
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 1.3em;
            font-weight: 700;
        }
        p {
            max-width: 600px;
            text-align: center;
            color: #333333;
        }
        a {
            text-decoration: none;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    #products {
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 10px;
        margin-top: 40px;

        @media screen AND (min-width: 1200px) {
            margin: 0;
            margin-top: 40px;
        }

        h2 {
            font-size: 1.3em;
            font-weight: 700;
            margin-top: 20px;
            margin-left: 20px;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            margin: 20px;
            justify-content: space-between;
            
            article {
                flex-basis: 100%;
                border-radius: 15px;
                background-color: #ffffff;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                box-shadow: 0px 0px 12px 1px #C9C9C9;
                margin-top: 30px;

                @media screen AND (min-width: 768px) {
                    flex-basis: 48%;
                }

                @media screen AND (min-width: 992px) {
                    flex-basis: 31.5%;
                }

                a {
                    color: #000;
                    text-decoration: none;
                }

                .btn {
                    margin-top: 10px;
                    color: #FFF;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

                figure {
                    height: 100px;
                    border-radius: 20px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                h3 {
                    margin-top: 10px;
                    margin-left: 15px;
                    font-weight: 600;
                    font-size: 1.2em;
                }
                p {
                    margin-left: 15px;
                }
            }
        }
    }
}