@import "../main.scss";

main {
    max-width: 1200px;
    margin: 0 auto;

    #payment-confirmation {
        background-color: #f7f7f7;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin: 10px;
        margin-top: 40px;

        @media screen AND (min-width: 1200px) {
            margin: 0;
            margin-top: 40px;
        }


        h2 {
            font-size: 1.3em;
            font-weight: 700;
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
            text-align: center;
            flex-basis: 100%;
        }

        i {
            font-size: 1.3em;
            color: green;
            text-align: center;
            margin-bottom: 20px;
        }

        > div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 40px;
            max-width: 600px;

            p {
                font-weight: 600;
            }

            .btn {
                margin-left: 20px;
            }
        }

        p {
            text-align: center;
        }
    }
}